<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    You're near <%= closestStation.label %>
    <ul>
    <% for(var i = 0; i < nearbyStations.length; i++) { %>
    	<li><%= nearbyStations[i].label %>: <%= nearbyStations[i].availableBikes %> bikes and <%= nearbyStations[i].availableDocks %> docks</li>
    <% } %>
  	</ul>
  </body>
</html>