<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    You're near <%= closestStation.label %>
    <% for(var i = 0; i < nearbyStations.length; i++) { %>
    	and <%= nearbyStations[i].label %>
    <% } %>
    <ul>
    <% for(var i = 0; i < stations.length; i++) { %>
    	<li><%= stations[i].label %></li>
    <% } %>
  	</ul>
  </body>
</html>